*{
    margin: 0;
    padding: 0;
    
    
}

.gallery {
    margin-top: 80px;
}

.footer {
    position: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    background-color:black;
    color: white;
    text-align: center;
 }


 /* For footer1 */
 .footer1{
     position: relative;
     bottom: 0;
     left: 0;
     right: 0;
 }
 .col{
     background-color: black;
     color: rgb(18, 241, 36);
 }
 .design{
     background-color:gray;
     text-align: center;
 }