*{
  margin: 0;
  padding: 0;
 }

.navbar{
   background-color: rgb(29, 97, 71);
}

/* for  Blog Detail page */
.blog-heading h5,h6{
   display: inline-block;
   padding: 20px;
   color:rebeccapurple;
}


 .category-nav{
   background-color: rgb(78, 15, 87); 
   list-style-type: none;
   text-align: center;
   margin: 0;
   padding: 0;
   
 }
 .category-nav li {
   display: inline-block;
   font-size: 20px;
   padding: 20px;
   
 }

/* For footer */
.footer1{
   position: relative;
   bottom: 0;
   left: 0;
   right: 0;
}
.col{
   background-color: black;
   color: rgb(18, 241, 36);
}
.design{
   background-color:gray;
   text-align: center;
}