*{
  margin: 0;
  padding: 0;
 }

.navbar{
   background-color: rgb(29, 97, 71);
}


/* For Logout button */
.logout{
color: rgb(187, 255, 0);
}

/* for  Blog Detail page */


 .category-nav{
   background-color: rgb(78, 15, 87); 
   list-style-type: none;
   text-align: center;
   margin: 0;
   padding: 0;
   
 }
 .category-nav li {
   display: inline-block;
   font-size: 20px;
   padding: 20px;
   
 }

/* For footer */
.footer1{
   position: relative;
   bottom: 0;
   left: 0;
   right: 0;
}
.col{
   background-color: black;
   color: rgb(18, 241, 36);
}
.design{
   background-color:gray;
   text-align: center;
}


/* For Detail page */
.col-6{
   color: aliceblue;
   background-color: black;
   z-index: 5;
}


/* For write blog page */

.col-12{
   border-style: inset;
}



/* signupForm */
.signupForm{
   background-color: rgb(173, 221, 165);
   border-radius: 8%;
}

/* for headerfont */
.headerfont{
   font-weight: bold;
   font-size: x-large;
}